<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3>Количество новостей: {{posts|length}}</h3>
<hr>
{% if posts %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Превью</td>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.title}}</td>
            <td>{{ post.created_at|date:'M d Y' }}</td>
            <td>{{ post.text|truncatewords:20 }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}