<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 

<!-- подгружаем custom filter -->
{% load custom_filters %}
 
<!-- Название у нас будет products -->
{% block title %}
{{ post.title}}
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
<h3>Дата публикации: {{ post.created_at|date:'d M Y' }}</h3>
<hr>
<p>Автор: {{ post.author.user.username }}</p>
<p>{{ post.text|censor }}</p>
{% endblock content %}