<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет products -->
{% block title %}
{{ post.title}}
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>{{ post.title }}</h1>
<p>Автор: {{ post.author.user.username }}</p>
<p>Опубликовано: {{ post.created_at }}</p>
<p>Рейтинг: {{ post.rating }}</p>
<div>
    {{ post.preview }}
</div>
<p>{{ post.text}}</p>
{{ products|linebreaks }}
{% endblock content %}