<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %} 
 
<!-- Название у нас будет products -->
{% block title %}
{{ post.title}}
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>{{ post.title }}</h1>
<h3>Дата публикации: {{ post.created_at|date:'M d Y' }}</h3>
<hr>
<p>Автор: {{ post.author.user.username }}</p>
<p>{{ post.text}}</p>
{% endblock content %}

<!--
По ссылке /news/<id новости> должна выводиться детальная информация о новости.
Заголовок, дата публикации в формате день.месяц.год и полный текст статьи.
-->